<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
      Click on the button to generate some data!
    </h4>
    <button ng-click="getRandomPerson()" class="btn btn-primary pull-right">Show me a person!</button>
  </div>
  <div class="panel-body">
    <!-- show data here -->
    <ul ng-show="data">
      <li>Name: {{data.name}}</li>
      <li>Hair Color: {{data.hair_color}}</li>
      <li>Eye Color: {{data.eye_color}}</li>
      <li>Height: {{data.height}}</li>
    </ul>
  </div>
</div>